@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.45;
}
.wrapper {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}
.title {
  font-family: Montserrat, Open sans, sans-serif;
  font-size: 52px;
  text-align: center;
  margin: 20px;
}
  @media screen and (max-width: 500px) {
    .title { font-size: 46px; margin: 10px; }}
h1 {
  font-size: 24px;
  font-weight: bold;
  font-variant: small-caps;
  text-transform: lowercase;
  border-top: 1px solid #bbb;
  letter-spacing: 0.05em;
}
.photo { width: 240px; float: left; margin-right: 10px; }
  @media screen and (max-width: 500px) {
    .photo { float: none; margin: auto; }}
img { width: 100%; }
.publicons { display: flex; justify-content: space-between; }
.icon { vertical-align: top; width: 1em; }
.clear { clear: both; }
a { color: #046; text-decoration: none; }
a:hover { text-decoration: underline; }
ul { padding-inline-start: 20px; margin-top: 0px; }
ul li {  padding-bottom: 3px; }
small { color: #777; }
